---
import ResponsiveMain from "../../components/ResponsiveMain.astro"
import Layout from "../../layouts/Layout.astro"
import Header from "../../components/Header.astro"

import CopmuterHardwareBasicsBadge from "../../assets/certs/cisco/computer-hardware-basics.png"
import CCNAIntroductionToNetworksBadge from "../../assets/certs/cisco/ccna-introduction-to-networks.png"
import ITEssentialsBadge from "../../assets/certs/cisco/it-essentials.png"
---

<Layout>
    <Header/>
    <ResponsiveMain>
<h1>CISCO Badges</h1>
        These are badges that I have acquired for completing a CISCO course.
        I have already completed the CISCO IT Essentials course in my first year of high school, however I am unable to find the certificate of course completion or even any sign of me ever participating in that course, so there was probably some kind of wipe that cleaned my Netacad profile.
        <ul class="badge-list">
            <li class="badge-block">
                <figure>
                    <img src={CopmuterHardwareBasicsBadge.src} alt="Computer Hardware Basics Badge">
                    <figcaption>Computer Hardware Basics</figcaption>
                </figure>

                <div>
                    <a href="https://www.credly.com/badges/ecf09a3b-8f5d-4bda-8d69-6b79f026a847/public_url">
                        Verify
                        <svg xmlns="http://www.w3.org/2000/svg" height="1rem" viewBox="0 -960 960 960" width="auto" fill="var(--blue-800)"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"/></svg>
                    </a>
                </div>
            </li>
            <li class="badge-block">
                <figure>
                    <img src={CCNAIntroductionToNetworksBadge.src} alt="CCNA: Introduction to Networks Badge">
                    <figcaption>CCNA: Introduction to Networks</figcaption>
                </figure>

                <div>
                    <a href="https://www.credly.com/badges/45d048f5-cbb0-4da9-9c95-d2baa11c1d0e/public_url">
                        Verify
                        <svg xmlns="http://www.w3.org/2000/svg" height="1rem" viewBox="0 -960 960 960" width="auto" fill="var(--blue-800)"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"/></svg>
                    </a>
                </div>
            </li>
            <li class="badge-block">
                <figure>
                    <img src={ITEssentialsBadge.src} alt="CCNA: IT Essentials Badge">
                    <figcaption>IT Essentials</figcaption>
                </figure>

                <div>
                    <a href="https://www.credly.com/badges/dc3ea796-ac27-43d7-8989-0e8b84d092b7/public_url">
                        Verify
                        <svg xmlns="http://www.w3.org/2000/svg" height="1rem" viewBox="0 -960 960 960" width="auto" fill="var(--blue-800)"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"/></svg>
                    </a>
                </div>
            </li>
        </ul>
        <h1>Plans for future certifications</h1>
        I get that certifications are important in our current IT work world, but currently I am unable to purchase the certification courses and exams. However I want to prepare myself for whatever awaits me in the future and for that reason I am looking at the relevant certifications in various areas.<br/>
        I do not believe certifications are everything and not having them definitely doesn't mean that you do not have the relevant skills, but having them does mean that you have proved that you do have the relevant skills. So I am trying to find out which certs are relevant for me, I try to learn the skills I need to complete them, and I try to complete the practice materials like practice questions to make sure that I can pass them in the future.<br/>
        Here are some certifications I plan to learn for and complete in the future.
        <h2>IT Fundamentals</h2>
        These are certificates that lay out the foundation for other, more advanced and specialised certificates.
        <ul class="flex-block-list">
            <li>
                <h3>CopmTIA</h3>
                <ul>
                    <li>ITF+</li>
                    <li>A+</li>
                    <li>Tech+</li>
                    <li>Network+</li>
                    <li>Linux+</li>
                </ul>
            </li>
            <li>
                <h3>CISCO</h3>
                <ul>
                    <li>IT Essentials (✅)</li>
                    <li>Introduction to Networks (✅)</li>
                    <li>Hardware Basics (✅)</li>
                    <li>Linux Essentials</li>
                </ul>
            </li>
        </ul>

        <h2>Cybersecurity</h2>
        <ul class="flex-block-list">
            <li>
                <h3>CopmTIA</h3>
                <ul>
                    <li>Security+</li>
                </ul>
            </li>
            <li>
                <h3>CISCO</h3>
                <ul>
                    <li>Introduction to Security</li>
                    <li>Cybersecurity Essentials</li>
                    <li>Endpoint Security</li>
                    <li>Ethical Hacker</li>
                    <li>Network Defense</li>
                    <li>Cyber Threat Management</li>
                </ul>
            </li>
        </ul>
    </ResponsiveMain>
</Layout>

<style>
    .badge-block {
        max-width: 30ch;
    }

    .badge-list {
        display: flex;
        flex-flow: row nowrap;
        gap: 1rem;

        justify-content: space-evenly;
        align-items: stretch;

        margin: 0;
        padding: .5rem 0;

        height: max-content;
        width: 100%;

        overflow-x: scroll;

        list-style: none;

        & > li {
            position: relative;

            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            gap: 2rem;
            overflow: hidden;

            padding: .75rem;
            
            width: 14rem;
            min-width: 14rem;
            max-width: 14rem;
            height: max(max-content, 100%);
            box-sizing: border-box;

            border: 1px solid #fff0;

            background-color: #fff1;
            backdrop-filter: blur(5rem);
            border-radius: .5rem;

            transition: border-color .5s linear;

            & > figure {
                width: 100%;
                height: fit-content;

                margin: 0;

                & > img {
                    width: calc(100% - 2rem);
                    height: auto;
                    box-sizing: border-box;

                    margin: 1rem;
                    margin-bottom: .5rem;
                }

                & > figcaption {
                    padding-inline: 1rem;

                    text-align: center;
                    
                    font-size: 1.25rem;
                    color: #fff;
                }

            }

            & > div > a {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-flow: row wrap;

                gap: .5ch;

                padding: .75rem;

                width: 100%;
                height: fit-content;
                box-sizing: border-box;

                background-color: var(--blue-100);
                
                font-size: 1.125rem;
                color: var(--blue-800);
                text-decoration: none;

                box-shadow: 0 0 8rem 0 transparent;

                transition: box-shadow .5s cubic-bezier(0.075, 0.82, 0.165, 1);

                &:hover {
                    box-shadow: 0 0 8rem 0 var(--blue-100);

                    transition: box-shadow .3s cubic-bezier(0.075, 0.82, 0.165, 1);
                }
            }

            &::before {
                content: '';

                position: absolute;
                top: -50%;
                left: 50%;
                transform: translate(-50%, -50%);
                
                width: 100%;
                height: 50%;

                border-radius: 50%;
                
                filter: blur(16rem);
                
                transition: background-color 1.75s cubic-bezier(0.075, 0.82, 0.165, 1),
                            top 1.5s cubic-bezier(0.075, 0.82, 0.165, 1)
            }
            
            &:hover {
                border: 1px solid #fff1;

                transition: border-color .3s linear;

                &::before {
                    top: 0;
                    background-color: color-mix(in srgb, transparent 50%, var(--blue-100));

                    transition: background-color .75s cubic-bezier(0.075, 0.82, 0.165, 1),
                                top .5s cubic-bezier(0.075, 0.82, 0.165, 1);
                }
            }

            &:has(a:hover) {
                border-color: color-mix(in srgb, #fff1 85%, var(--blue-100));

                transition: border-color .1s linear;
            }
        }
    }

    .flex-block-list {
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;

        padding-inline: 1rem;

        color: var(--blue-100);
        font-weight: bold;

        & > li {
            
            padding-inline: .5em;
            padding-block: .25em .75em;
            
            flex-grow: 1;
            
            list-style: none;
            background-color: #fff1;
            border-radius: .8rem;
            
            & > h3 {
                margin-block: .2rem .5rem;
            }

            & ul {
                padding-left: 1.25em;

                list-style: disc;
                
                color: #fff;
                font-weight: normal;
            }
        }
    }
</style>