---
import Header from "../../components/Header.astro"
import Layout from "../../layouts/Layout.astro"
import ResponsiveMain from "../../components/ResponsiveMain.astro"
---

<Layout>
    <Header/>
    
    <ResponsiveMain>
        <h1>Programming</h1>
        <p>
            WIP<br/>
            Lua, Python, JavaScript, Java, C# .NET, Rust &lt3
        </p>
    </ResponsiveMain>
</Layout>