---
import Header from "../../components/Header.astro"
import Layout from "../../layouts/Layout.astro"
---

<Layout>
    <Header/>
    <h1>Programming</h1>
    <p>
        WIP<br/>
        Lua, Python, JavaScript, Java, C#
    </p>
</Layout>