.portfolio-wrapper {
    position: relative;
    min-height: 80vh;
    display: flex;
    flex-flow: row nowrap;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
}

.portfolio-navbar {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    background-color: #fff1;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    position: fixed;
    width: 10rem;
}

.portfolio-article {
    border-top: #fff2 solid 1px;
    margin-top: 2rem;

}

.portfolio-article-metadata {
    background-color: #ffffff04;
    padding: .5rem;
    padding-top: .25rem;
    margin-top: 2rem;
    border-radius: .5rem;
    
    display: flex;
    flex-flow: column;
    
    & > h1 {
        margin: 0;
        color: var(--blue-100);
        display: inline-flex;
        flex-flow: row wrap;
        gap: 1rem;
        align-items: center;

        &:hover > .portfolio-article-title-quick-actions {
            transition: opacity .15s linear;
            opacity: 1;
        }

        & > .portfolio-article-title-quick-actions {
            overflow: hidden;
            display: flex;
            flex-flow: row nowrap;
            content: '';
            height: 2rem;
            width: fit-content;
            border-radius: 1rem;
            background-color: #fff1;
            border: 1px solid #fff1;
            margin-top: .5rem;
            opacity: 0;
            margin: 0;
            transition: opacity .15s linear;

            & > a {
                height: 100%;
                width: auto;
                aspect-ratio: 1.5;
                border-radius: 0;
                position: relative;

                &::after {
                    content: '';
                    width: 65%;
                    height: 65%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    mask-size: contain;
                    mask-position: center center;
                    mask-repeat: no-repeat;
                    background-color: #fffa;
                }

                &:hover {
                    background-color: #fff1;

                    &::after {
                        background-color: #fff;
                    }
                }

                &[data-icon="link"]::after {
                    mask-image: url(/icons/util/link.svg);
                }

                &[data-icon="open"]::after {
                    mask-image: url(/icons/util/external-link.svg);
                }
            }
        }
    }
}

.portfolio-article-date {
    color: #aaa;
}

.portfolio-article-categories {
    color: #aaa;
}

.portfolio-article-content {
    background-color: #ffffff04;
    border-radius: .5rem;
    padding: .5rem 1rem;
    margin-top: .5rem;
}