---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
import ResponsiveMain from "../components/ResponsiveMain.astro"
---

<Layout>
    <Header/>
    <section id="technologies-navigation">
        <h1>Technologies & Skills</h1>
        <ul>
            <li>
                <a href="/about/programming" style="--c-local-deco: #07fc71">Programming</a>
            </li>
            <li>
                <a href="/about/games" style="--c-local-deco: #05c2fc">My Games</a>
            </li>
            <li>
                <a href="/about/ui-design" style="--c-local-deco: #e564fc">UI Design</a>
            </li>
            <li>
                <a href="/about/certs" style="--c-local-deco: #fc6483">Certificates</a>
            </li>
        </ul>
    </section>
    <ResponsiveMain>
        <a href="/about/certs" id="certs-call-to-action">Check out my certs!</a>
        <h1>About Me</h1>
        <p>
            Hello, I'm <b style="color: var(--blue-100)">soki</b>, a passionate young <b style="color: var(--blue-100);">web and game developer</b>, <b style="color: var(--blue-100)">cybersecurity enthusiast</b> and <b style="color: var(--blue-100);">IT student</b>.<br/>
            I love everything that revolves around computers and technology and love exploring new areas and learning new skills.
        </p>
        
        <h2>Cybersecurity</h2>
        <p>
            I have been interested in cybersecurity for many years now and have learned many things on platforms like <b style="color: var(--blue-100);">HackTheBox</b>, <b style="color: var(--blue-100);">TryHackMe</b>, <b style="color: var(--blue-100);">Haxagon</b>, and various other CTF or "chall" sites.<br/>
            I even took a shot at bug bounties, with underwhelming results. :(
        </p>
        
        <h2>Game Dev</h2>
        <p>
            For several years, I have immersed myself in game development on <b style="color: var(--blue-100);">Roblox</b>, contributing to various small projects, primarily by creating and scripting <b style="color: var(--blue-100);">user interfaces</b>.<br/>
            I have also experimented with other engines like <b style="color: var(--blue-100);">Unity</b>, <b style="color: var(--blue-100);">Unreal Engine</b>, and <b style="color: var(--blue-100);">Godot</b>, as I felt that the Roblox engine was too limiting in certain ways. I particularly working with Godot, which provided me the opportunity to try out programming in <b style="color: var(--blue-100);">C# .NET</b>.
        </p>
        
        <h2>Web Dev & Design</h2>
        <p>
            I have designed and built websites for many years. Most of these were just practice projects that helped me improve in various aspects like web design, JavaScript, or building responsive websites.<br/>
            I have written quite a lot of websites in plain <b style="color: var(--blue-100);">HTML</b>, <b style="color: var(--blue-100);">CSS</b> and <b style="color: var(--blue-100);">JavaScript</b>, as well as <b style="color: var(--blue-100);">jQuery</b>. I took a stab at frameworks too, like <b style="color: var(--blue-100);">React</b> or <b style="color: var(--blue-100);">Svelte</b>. And this site is made using <b style="color: var(--blue-100);">Astro</b>.
        </p>
        
        <h2>Education</h2>
        <p>
            I am currently attending a <b style="color: var(--blue-100);">high school</b> specialising in IT, with plans to take to focus on <b style="color: var(--blue-100);">Computer Networks & Cyber Security</b> in my specialised classes.<br/>
            Looking ahead, I'm excited to pursue my studies at the <b style="color: var(--blue-100);">Faculty of Applied Sciences</b> at the <b style="color: var(--blue-100);">University of West Bohemia</b>.<br/>
            My long-term goal is to progress through Bachelor's (<b style="color: var(--blue-100);">Software Engineering</b>), Master's (<b style="color: var(--blue-100);">Software and Information Systems</b>), and potentially a Ph.D. in <b style="color: var(--blue-100);">Computer Science</b>, depending on future opportunities.
        </p>

        <h2>Interests</h2>
        <p>
            I'm a person of many interests, you might even say that I'm a generalist rather than a specialist. I like to discover and learn new things and I try to get some knowledge and experience in every new area I discover.<br/>
            Here are my main interests and areas I have explored:
            <ul class="flex-block-list">
                <li>
                    Computers
                    <ul>
                        <li>Cybersecurity</li>
                        <li>Web design & development</li>
                        <li>UI/UX design</li>
                        <li>Game development</li>
                        <li>Computer hardware</li>
                        <li>Programming languages</li>
                        <li>Hardware hacking</li>
                        <li>Digital privacy & anonymity online</li>
                    </ul>
                </li>
                <li>
                    Science
                    <ul>
                        <li>Understanding physics in general</li>
                        <li>Quantum mechanics & quantum computing</li>
                        <li>Longevity research</li>
                        <li>Chemistry in general</li>
                        <li>Psychology - understanding human behaviour</li>
                        <li>Astronomy (and astrophotography)</li>
                    </ul>
                </li>
                <li>
                    Physical protection - firearms, materials, architecture, etc.
                    <ul>
                        <li>CCTV and other physical&cyber security systems</li>
                        <li>Designing resilient architecture</li>
                        <li>Ballistic glass standards (UL 752)</li>
                        <li>Bullet standards</li>
                        <li>Firearm safety, CQB, first aid</li>
                        <li>Low-vis tactical gear</li>
                    </ul>
                </li>
                <li>
                    Free time activities & communities 
                    <ul>
                        <li>Gaming</li>
                        <li>Furry</li>
                        <li>Drawing</li>
                        <li>Learning</li>
                    </ul>
                </li>
            </ul>
        </p>
    </ResponsiveMain>
</Layout>

<style>
    h1, h2 {
        color: var(--blue-100);
        margin-bottom: .75rem;
    }

    p {
        padding-inline-start: .75rem;
        border-left: var(--blue-100) 2px solid;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
    }

    h1 {
        margin-top: 0;
    }

    .flex-block-list {
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;

        padding-inline: 1rem;

        color: var(--blue-100);
        font-weight: bold;
        
        &>li {
            padding-inline: .5em;
            padding-block: .25em .75em;

            flex-grow: 1;
            
            list-style: none;
            background-color: #fff1;
            border-radius: .8rem;

            & ul {
                padding-left: 1.25em;

                list-style: disc;
                
                color: #fff;
                font-weight: normal;
            }
        }
    }

    #technologies-navigation {
        width: max(50%, 80ch);
        
        padding: 1rem 1.5rem;
        margin: 1rem auto;

        box-sizing: border-box;
        
        background: #fff1;
        border-radius: .5rem;

        & > ul {
            display: flex;
            flex-flow: row wrap;
            gap: .75rem;

            width: 100%;
            height: fit-content;

            margin: 0;
            padding: 0;

            list-style: none;
            & > li{
                display: flex;
                
                width: fit-content;
                height: fit-content;
                flex-grow: 1;

                a {
                    --c-local-deco: #fff;
                    
                    display: flex;
                    flex-grow: 1;

                    align-items: center;
                    justify-content: center;

                    padding: .5ch 1.5ch;

                    min-height: 1.75rem;

                    border-radius: .5rem;

                    background-color: #fff1;
                    border: 1px solid #fff2;

                    color: #fff;
                    text-decoration: none;

                    box-shadow: 0 0 5rem -5rem color-mix(in srgb, transparent 100%, var(--c-local-deco));

                    transition: all .8s cubic-bezier(0.075, 0.82, 0.165, 1);
                    transition: scale .3s cubic-bezier(0.075, 0.82, 0.165, 1);

                    &:hover {
                        background-color: color-mix(in srgb, #fff1 90%, var(--c-local-deco));
                        border-color: color-mix(in srgb, transparent 80%, var(--c-local-deco));
                        color: var(--c-local-deco);

                        box-shadow: 0 0 5rem 0 color-mix(in srgb, transparent 50%, var(--c-local-deco));

                        scale: 1.025;

                        transition: all .8s cubic-bezier(0.075, 0.82, 0.165, 1);
                        transition: scale .3s cubic-bezier(0.075, 0.82, 0.165, 1);
                    }
                }
            } 
        }
    }

    #certs-call-to-action {
        display: flex;

        width: fit-content;
        
        max-width: 100%;
        margin: 1rem auto;
        
        padding: 1rem 2rem;

        background: color-mix(in srgb, transparent 80%, currentColor);
        border: 1px solid currentColor;
        box-shadow: 0 0 2.5rem -.5rem currentColor;
        border-radius: 1rem;
        
        color: #fc6483;
        text-decoration: none;
        font-size: 1.25rem;

        transition: scale .3s cubic-bezier(0.075, 0.82, 0.165, 1), box-shadow .3s cubic-bezier(0.075, 0.82, 0.165, 1);
        
        &:hover {
            background: color-mix(in srgb, transparent 65%, currentColor);
            box-shadow: 0 0 2.5rem -.25rem currentColor;

            scale: 1.125;
            transition: scale .3s cubic-bezier(0.075, 0.82, 0.165, 1), box-shadow .3s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
    }

    @media (aspect-ratio < .7) {
        #technologies-navigation {
            width: calc(100% - .5rem);

            padding-inline: .5rem;

            font-size: 1.125rem;

            & > ul {
                gap: .5rem;
                & > li > a {
                    padding-block: 1ch;
                }
            }
        }
    }
</style>