---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
import ResponsiveMain from "../components/ResponsiveMain.astro"
---

<Layout>
    <Header></Header>
    <ResponsiveMain>
        idk nothing here yet, try my <a class="external-link" href="https://guns.lol/sokiuwu" target="_blank">guns.lol/sokiuwu</a> :3
        <div>
            I have a Ko-Fi page! If you like my work, consider buying me a coffee to support me! :)
            <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support me on Ko-fi', '#000000', 'S6S51Q99DO');kofiwidget2.draw();</script> 
        </div>
    </ResponsiveMain>
</Layout>