---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
import ResponsiveMain from "../components/ResponsiveMain.astro"
---

<Layout>
    <Header></Header>
    <ResponsiveMain>
        idk nothing here yet, try my <a href="https://guns.lol/sokiuwu" target="_blank">guns.lol/sokiuwu</a> :3
    </ResponsiveMain>
</Layout>