---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import ResponsiveMain from '../components/ResponsiveMain.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Header></Header>

	<ResponsiveMain>
		<h1 style="text-align: center;">Hello, <b style="color: transparent; background-image: linear-gradient(90deg, var(--blue-200), var(--pink-200)); background-clip: text; -webkit-background-clip: text;">World</b>!</h1>
		<hr style="color: #fff2;"/>
		<p>
			This site is currently under construction. Please check out the <a class="external-link" href="/about">About</a> section which is somewhat filled with content :3
		</p>
		<h2>What is this page?</h2>
		<p>
			This is my first actual portfolio website. It's made using <a href="https://astro.build/" target="_blank">Astro</a> and deployed on <a href="https://pages.cloudflare.com" target="_blank">Cloudflare Pages</a>. It's only the first version of my portfolio as my goal is to make my portfolio multiple times, each time improving it and using better and more modern technologies.<br/>
			It's an opportunity for me to learn something new and useful while showing off my skill and years of practice at the same time.
		</p>
		<h2>Who am I?</h2>
		<p>
			I don't like linking my real-life information to my online persona, but since all of that info is probably somewhere out there anyway and any motivated individual could probably find it, it's probably not that bad if I tell you something about myself IRL. <br/>
			I'm a young tech & cybersecurity enthusiast, web/game developer, UI/UX designer, and much more. I study in Czechia at a high school focused on IT. I have many years of experience with game/web dev, cybersecurity, and UI/UX design, since I started way before high school.<br/>
			I'm a strong privacy advocate and I love learning new things. Every time my brain comes up with something new I research it, take notes, and delve deep into whatever happens to take my interest.
		</p>
	</ResponsiveMain>
</Layout>
