<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>soki</title>
	</head>
	<body>
		<slot />

		<footer>
			<div>
				The source code for this website is published under the <a href="https://opensource.org/license/MIT" target="_blank">MIT License</a> (Copyright &copy; 2025 sokiGit)
			</div>
			<div>
				All content of the website, like portfolio articles, personal projects, etc. is <b>all rights reserved</b>.
				For more info, read the <a href="https://github.com/sokiGit/portfolio-v0/blob/main/README.md" target="_blank">README.md</a>.
			</div>
			<div>
				Source: <a href="https://github.com/sokigit/portfolio-v0">github.com/sokiGit/portfolio-v0</a>
			</div>
		</footer>
	</body>
</html>

<style is:global>
	@import "/src/styles/global.css";
	
	html,
	body {
		min-width: 100%;
		min-height: 100%;
		
		margin: 0;

		background: #000;
		color: #fff;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		color-scheme: dark;
	}

	footer {
		padding: 2rem 1rem;
		
		width: 100%;
		height: auto;
		box-sizing: border-box;

		background: #fff1;
		backdrop-filter: blur(16rem);
		text-align: center;

		display: flex;
		flex-flow: column;
		gap: 1rem;
	}
</style>
