<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>soki</title>
	</head>
	<body>
		<slot />

		<footer>
			No Licence, Source: <a href="https://github.com/sokigit/portfolio-v0">github.com/sokiGit/portfolio-v0</a>
		</footer>
	</body>
</html>

<style is:global>
	@import "/src/styles/global.css";
	
	html,
	body {
		min-width: 100%;
		min-height: 100%;
		
		margin: 0;

		background: #000;
		color: #fff;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		color-scheme: dark;
	}

	footer {
		padding: 1rem;
		
		width: 100%;
		height: auto;
		box-sizing: border-box;

		background: #fff1;
		backdrop-filter: blur(16rem);
		text-align: center;
	}
</style>
